*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Khula';
  }

/* Resetting default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 40px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-list li {
    margin-right: 50px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: #084C61;
    font-weight: 600;
}

/* Hover effect on links */
.nav-list a:hover {
    color: #FFD275;
}

/* Centered content */
.container {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}

.judul {
    text-align: center;
    margin-top: 10px;
}

.about {
    font-size: 70px;
    color: #084C61;
    letter-spacing: -6px;
}

/* Vertical Line */
.vertical-line {
    width: 1px;
    height: 30px;
    background-color: #084C61;
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.vertical-line-bottom {
    width: 1px;
    height: 150px;
    background-color: #084C61;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.foto-tika {
    margin-top: 50px;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 50px;
    gap: 40px;
    margin-bottom: 30px;
    color: #084C61;
}

.about-me p{
    margin-bottom: 10px;
}

.study p{
    margin-bottom: 10px;
}

.contact p{
    margin-bottom: 10px;
}

.sosial .logo-social a i {
    color: #084C61;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 28px;
}

.sosial .logo-social a i:hover {
    color: #FFD275;
}